.header {
    margin-top: 48px;
    margin-bottom: 60px;

    &_list {
        max-width: 645px;
        @include flex-beetween;
    }

    &_logo {
        @include gradientcolor($green-light, $green-dark);
        font-weight: 700;
        font-size: 40px;
    }
}