@mixin gradientbg($start, $end) {
  background: linear-gradient(to right, $start, $end);
}

@mixin gradientcolor($start, $end) {
  background: linear-gradient(to right, $start, $end);
  background-clip: text;
  color: transparent;
}


@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-beetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}